# PostgreSQL
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_PORT=your_postgres_port

# PostgreSQL Database Configuration
POSTGRES_URL=jdbc:postgresql://localhost:5432/blogs
POSTGRES_USERNAME=admin
POSTGRES_PASSWORD=admin

# JWT configuration
JWT_SECRET_KEY=28d890247899e122b82e6e42ae54f5e3d967150e62b124da851ddf423163b953

# LocalStack configuration
LOCALSTACK_API_KEY=your_localstack_api_key