services:
  blogs-app-db:
    container_name: blogs-app-db
    image: postgres:18.0-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - default

  sonar:
    container_name: sonar
    image: sonarqube:community
    restart: unless-stopped
    ports:
      - "9000:9000"
    networks:
      - default
    volumes:
      - sonar_data:/opt/sonarqube/data

volumes:
  postgres_data:
  sonar_data:

networks:
  default: